# Laravel .gitignore
/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/debugbar/*
/storage/logs/*
/.idea/
/.vscode/
.env
.env.*
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.nyc_output
/coverage
